<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <style>
        .closed {
            color : red;
            text-decoration: line-through;
            font-style: italic;
            font-weight: bold;
        }
        div{
            margin-bottom: 10px;
        }
        .stats span{
            font-size: 16pt;
        }
        li{
            cursor: pointer;
        }
    </style>
    <script>
    /*
        1. Add a new bug - done
        2. Display a list of bugs - done
        3. Toggle the closed status of a bug - done
        4. Remove closed bugs - done
        5. Display stats - done
        6. Search for a bug
        7. Sort the bugs
        8. Improvise the bug display
        9. Persist bugs in the storage
        10. Display "createdAt" for each bug
        11. Persist the bugs in the server
    */
    </script>
    <script src="angular.js"></script>
    <script>

        var bugTrackerApp = angular.module("bugTrackerApp", []);

        /*bugTrackerApp.value("Bug", function Bug(defaults){
            this.name = defaults.name || '';
            this.isClosed = defaults.isClosed || false;
            this.toggle = function(){
                this.isClosed = !this.isClosed;
            }
        } );*/

        bugTrackerApp.value("defaultBugName", "[Default Bug Name]");

        bugTrackerApp.factory("bug", function(){
            function toggle(){
                this.isClosed = !this.isClosed;
            };

            return function (defaults){
                return {
                    name : defaults.name || '',
                    isClosed : defaults.isClosed || false,
                    toggle : toggle
                };
            }
        });



        bugTrackerApp.controller("bugsController", function($scope, bug, $http){
            $scope.bugs = [
                 bug({ name : "Stack overflow error", isClosed : true}),
                 bug({ name : "Object reference not found error", isClosed : false}),
                 bug({ name : "User authentication failure", isClosed : true}),
                 bug({ name : "Server communication failure", isClosed : false})
            ];

            $scope.addNew = function(newBugName){
                var newBug = bug({
                    name : newBugName,
                    isClosed : false
                });
                $scope.bugs.push(newBug);
            };

            $scope.toggleBug = function(bug){
                bug.toggle();
            };

            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length-1; i >= 0; i--){
                    if ($scope.bugs[i].isClosed)
                        $scope.bugs.splice(i,1);
                }
            };

            $scope.getClosedCount = function(){
                /*return $scope.bugs.filter(function(bug){
                    return bug.isClosed;
                }).length;*/

                return $scope.bugs.reduce(function(closedCount, bug){
                    return bug.isClosed ? ++closedCount : closedCount;
                },0);
            };

        });

    </script>
</head>
<body ng-app="bugTrackerApp">
    <h1>Bug Tracker</h1>
    <hr>
    <div class="content" ng-controller="bugsController">
        <div class="stats">
            <span class="closed">{{getClosedCount()}}</span>
            /
            <span>{{bugs.length}}</span>
        </div>
        <div class="search">
            <label for="">Search : </label>
            <input type="text" ng-model="searchBug.name">
            <label for="">is Closed ? :</label>
            <input type="checkbox" ng-model="searchBug.isClosed">
            <input type="button" value="Show All" ng-click="searchBug.isClosed = undefined">
        </div>
        <div class="sort">
            <label for="">Sort : </label><input type="text">
            <label for="">Descending ? :</label><input type="checkbox">
        </div>
        <div class="list">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBug">
            <input type="button" value="Add Bug" ng-click="addNew(newBug)">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
            <ol>
               <li ng-repeat="bug in bugs | filter:searchBug" ng-click="toggleBug(bug)"
                   ng-class="{closed : bug.isClosed}"
               >{{bug.name | lowercase}}</li>
            </ol>
        </div>
    </div>
</body>
</html>
